@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



:root {
  --primary-color: #1a202c;
  --secondary-color: #2d3748;
  --accent-color: #38b2ac;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #f7fafc;
}

nav {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}